<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms requireSSL="true" cookieless="UseCookies" protection="All" />
    </authentication>
    <compilation debug="false" />
    <customErrors mode="On" />
    <httpCookies httpOnlyCookies="true" />
    <machineKey validation="HMACSHA256" />
    <trust level="Full" />
    <sessionState cookieless="false" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" />
    <trace enabled="false" />
    <requestFiltering allowDoubleEscaping="false">
      <fileExtensions allowUnlisted="false" />
    </requestFiltering>
    <handlers accessPolicy="Read" />
    <isapiCgiRestriction notListedIsapisAllowed="false" notListedCgisAllowed="false" />
    <customHeaders>
      <remove name="X-Powered-By" />
      <remove name="Server" />
      <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
    </customHeaders>
    <requestLimits maxAllowedContentLength="30000000" maxUrl="4096" maxQueryString="2048" />
    <access sslFlags="Ssl" />
    <basicAuthentication enabled="false" />
  </system.webServer>
  <deployment retail="true" />
</configuration>
