<!-- Sample server.xml for IBM WebSphere -->
<server passwordCachingEnabled="false" adminEnabled="true" appEnabled="true" sessionSecurityIntegration="true" java2SecurityEnabled="true">
  <version>9.0.5.12</version>
  <patch>IFIX12345</patch>
  <fixpack>FP9</fixpack>
  <SIBus securityEnabled="true"/>
  <dcs sslEnabled="true"/>
  <MQ sslEnabled="true"/>
  <ldap sslEnabled="true"/>
  <transport protocol="https"/>
  <LTPAKeySet/>
  <singleSignon enabled="true"/>
  <jndi securityEnabled="true"/>
  <role name="admin"/>
  <audit enabled="true"/>
  <authData alias="myAuthAlias"/>
  <application name="myApp"/>
</server>
